@model SIM_Application.Models.BankDetail

@{
    ViewData["Title"] = "Details";
    Layout = "_SIMLayout";
}

<h1>Details</h1>

<div>
    <h4>BankDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ifsc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ifsc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mcir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mcir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BankDetailsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
